@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Permanent+Marker&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #3c1059;
}

header {
    width: 100%;
}

.header .main {
    width: 85%;
    margin: 0 auto;
}

.navbar {
    margin-top: 30px;
}

.navbar .brand {
    display: flex;
    margin: 20px 70px;
    color: #78a841;
}

.navbar .brand .fa-wine-bottle {
    font-size: 2.5em;
}

.navbar .brand h3 {
    font-size: 1.3em;
    margin: 5px 5px;
}

.menu .toggle-menu1 .fa-shopping-basket {
    font-size: 2.5em;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    margin: -50px 20px;
}

.menu ul li {
    list-style: none;
    margin-right: 70px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

.menu ul li a:hover {
    color: #78a841;
}

.navbar .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.navbar .toggle-menu i {
    font-size: 1.8em;
    cursor: pointer;
    color: #fff;
    display: none;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.container-info h1 {
    font-size: 3em;
    font-family: "Permanent Marker", cursive;
    animation: left-move 1s ease-in;
}

.container-info h2 {
    font-size: 2em;
    animation: right-move 1s ease-in;
}

.container-info .btn {
    font-size: 1.5em;
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    background-color: #78a841;
    border: none;
    color: #fff;
    animation: right-move 1s ease-in;
}

.container-info .img-content img {
    max-width: 100%;
    animation: left-move 1s ease-in;
}

.container-info .img-content img:hover {
    filter: grayscale(60%);
}

.container-info .img-content1 img {
    max-width: 100%;
    margin: 10%;
    animation: left-move 1s ease-in;
}

.container-info .img-content1 img:hover {
    filter: grayscale(60%);
}

.container-info .img-content2 img {
    max-width: 100%;
    margin-top: 20%;
    margin: 15%;
    animation: left-move 1s ease-in;
}

.container-info .img-content2 img:hover {
    filter: grayscale(60%);
}

.container-info .social-content li {
    list-style: none;
    margin: 20px;
    animation: left-move 1s ease-in;
}

.container-info .social-content i {
    font-size: 1.3em;
    color: #78a841;
}

.container-info .social-content i:hover {
    transform: scale(1.5);
}


.our-products {
    background-color: #fff;
    height: auto !important;
    margin-bottom: 120px;
}

.producs-our {
    background-color: #fff;
    height: auto !important;

}

.oour-products {
    background-color: #fff;
    height: auto !important;
    margin-bottom: 120px;
    padding-left: 5%;
}

.ouour-products {
    background-color: #fff;
    height: auto !important;
    margin-bottom: 118px;
}

.aour-products {
    background-color: #fff;
    height: auto !important;
    margin-bottom: 118px;
}

.eur-products {
    background-color: #fff;
    height: auto !important;
    margin-bottom: 118px;
}

.eur-products .img-arroz {
    height: auto;
    width: 25%;
    float: left;
    clear: both;
    margin-left: 20%;
    margin-right: 10%;
}

.ourr-products {
    background-color: #fff;
    height: 100%;
}

.titulo {
    text-align: center;
}

header .wave {
    margin-top: -100px;
}

@media (max-width: 450px) {
    .navbar .brand i {
        margin-left: -30px;
    }

    .navbar .toggle-menu i {
        display: block;
        margin: -60px 30px;

    }

    .navbar .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #3c1053;
        position: fixed;
        margin-top: 5px;
        transform: translateX(-120%);
        transition: 1s ease-in;
    }

    .navbar .menu .menu-on {
        transform: translateX(-4%);
    }

    .navbar .menu ul li {
        margin: 30px;
        text-transform: uppercase;

    }

    .container-info .social-content i {
        display: none;

    }

    .container-info {
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: -50px 50px;
    }

    .container-info h1 {
        font-size: 3.5em;
        margin-top: 60px;
    }

    .container-info h2 {
        font-size: 1.5em;
    }


    .container-info .img-content img {
        margin-top: -60px;
    }

    .eur-products .img-arroz img {
        margin-top: -30px;
    }

    header .wave {
        margin-top: 50px;
    }

    .slider {
        max-width: 300%;
        margin-top: 100px;
        margin-left: 50px;
    }
}

@keyframes left-move {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right-move {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes down-move {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.mySlides {
    display: none;
}


.slider {
    max-width: 500px;
    margin: auto;
}

footer {
    margin-top: -120px !important;
}


#category{
    width: 14.5%;
}
#number{
    width: 100%;
}
#nombre{
    width: 100%;
}
#address{
    width: 100%;
}
#city{
    width: 100%;
}
#metodo-pago{
    width: 100%;
}
#fol{
    width: 100%;
}