h2{
    text-align: center;
}
form{
    width: 90%;
    margin-left: 9%;
    padding-bottom: 180px;
    position: relative;
}
.form-group{
    width: 90%;
}
.form-control{
    width: 100%;
}

.btn-primary,
.btn-primary:hover{
    margin-top: 20px;
    color: #fff !important;
    background-color: #0069d9 !important;;
    border-color: #0062cc !important;;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
